# dontpanic ignore file

# for all COD players
*.py[cod]

# You can put server conf files here
/data

# We dont want the default path of the logs to be commited by excident
*.log

# ignore virtual env stuff 
/bin
/lib
/include

# Packages
*.egg
*.egg-info

# no build docs in repo
/doc/build
